@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Dancing+Script:wght@400..700&family=Gochi+Hand&family=Sue+Ellen+Francisco&display=swap');

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.titulo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}

.card-img-top-nueva {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.img-login {
  width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: bottom;
}
